.sidebar-links {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-link-item {
  display: block;
  margin: 0;
  border-left: 0.25rem solid transparent;
  color: var(--c-text);
}

a.sidebar-link-item:hover {
  text-decoration: none;
  /* color: var(--c-brand); */
}

a.sidebar-link-item.active {
  color: var(--c-brand);
}

.sidebar-link-item__name {
  transition: color .3s;
}

.sidebar-link-item__text {
  /* margin-left: 0.5rem; */
  /* color: #a0a5b1; */
}

.sidebar > .sidebar-links {
  padding: 0.75rem 0 5rem;
}

@media (min-width: 720px) {
  .sidebar > .sidebar-links {
    padding: 1.5rem 0;
  }
}

.sidebar > .sidebar-links > .sidebar-link + .sidebar-link {
  padding-top: 0.5rem;
}

@media (min-width: 720px) {
  .sidebar > .sidebar-links > .sidebar-link + .sidebar-link {
    padding-top: 1.25rem;
  }
}

/* .sidebar > .sidebar-links > .sidebar-link > .sidebar-link-item {
  padding: 0.35rem 1.5rem 0.35rem 1.25rem;
  font-size: 1.1rem;
  font-weight: 700;
}

.sidebar > .sidebar-links > .sidebar-link > a.sidebar-link-item.active {
  border-left-color: var(--c-brand);
  font-weight: 600;
}

.sidebar
  > .sidebar-links
  > .sidebar-link
  > .sidebar-links
  > .sidebar-link
  > .sidebar-link-item {
  display: block;
  padding: 0.35rem 1.5rem 0.35rem 2rem;
  line-height: 1.4;
  font-size: 1rem;
  font-weight: 400;
}

.sidebar
  > .sidebar-links
  > .sidebar-link
  > .sidebar-links
  > .sidebar-link
  > a.sidebar-link-item.active {
  border-left-color: var(--c-brand);
  font-weight: 600;
}

.sidebar
  > .sidebar-links
  > .sidebar-link
  > .sidebar-links
  > .sidebar-link
  > .sidebar-links
  > .sidebar-link
  > .sidebar-link-item {
  display: block;
  padding: 0.3rem 1.5rem 0.3rem 3rem;
  line-height: 1.4;
  font-size: 0.9rem;
  font-weight: 400;
}

.sidebar
  > .sidebar-links
  > .sidebar-link
  > .sidebar-links
  > .sidebar-link
  > .sidebar-links
  > .sidebar-link
  > .sidebar-links
  > .sidebar-link
  > .sidebar-link-item {
  display: block;
  padding: 0.3rem 1.5rem 0.3rem 4rem;
  line-height: 1.4;
  font-size: 0.9rem;
  font-weight: 400;
} */

/* override */

.sidebar > .sidebar-links > .sidebar-link > .sidebar-link-item,
.sidebar-link-item.head {
  padding: 0.35rem 1rem 0.35rem 1rem;
  text-transform: uppercase;
  /* font-size: 0.8rem; */
  font-weight: 600;
  letter-spacing: 1px;
  /* opacity: 0.5; */
}

.sidebar > .sidebar-links > .sidebar-link > a.sidebar-link-item.active {
  border-left-color: var(--c-brand);
  font-weight: 400;
}

.sidebar
  > .sidebar-links
  > .sidebar-link
  > .sidebar-links
  > .sidebar-link
  > .sidebar-link-item {
  display: block;
  padding: 0.45rem 1rem 0.45rem 1rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  line-height: 1.4;
  font-size: 0.9rem;
  font-weight: 400;
}

.sidebar
  > .sidebar-links
  > .sidebar-link
  > .sidebar-links
  > .sidebar-link
  > p.sidebar-link-item {
  display: block;
  padding: 0.45rem 1rem 0.45rem 1rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  line-height: 1.4;
  font-size: 0.9rem;
  font-weight: 600;
  opacity: .5;
}

.sidebar
  > .sidebar-links
  > .sidebar-link
  > .sidebar-links
  > .sidebar-link
  > a.sidebar-link-item.active {
  /* border-left-color: var(--c-brand); */
  font-weight: 400;
  /* background: none; todo add it config */
}

.sidebar
  > .sidebar-links
  > .sidebar-link
  > .sidebar-links
  > .sidebar-link
  > a.sidebar-link-item:hover {
  /* border-left-color: var(--c-brand); */
  font-weight: 400;
  /* background: none; todo add it config */
}

.sidebar
  > .sidebar-links
  > .sidebar-link
  > .sidebar-links
  > .sidebar-link
  > .sidebar-links
  > .sidebar-link
  > .sidebar-link-item {
  display: block;
  padding: 0.45rem 1.5rem 0.45rem 1rem;
  line-height: 1.4;
  font-size: 0.9rem;
  font-weight: 400;
  margin-top: .2rem;
  margin-bottom: .2rem;
}

.sidebar
  > .sidebar-links
  > .sidebar-link
  > .sidebar-links
  > .sidebar-link
  > .sidebar-links
  > .sidebar-link
  > .sidebar-links
  > .sidebar-link
  > .sidebar-link-item {
  display: block;
  padding: 0.45rem 1.5rem 0.45rem 2rem;
  line-height: 1.4;
  font-size: 0.9rem;
  font-weight: 400;
  background: none;
}

.sidebar {
  padding: 0 1rem 1rem;
}

a.sidebar-link-item:hover {
  text-decoration: none;
  @apply bg-blue-gray-100 dark:bg-dark-400 rounded-md;
}

a.sidebar-link-item.active {
  @apply  bg-blue-gray-100 dark:bg-dark-400 rounded-md;
}

p.sidebar-link-item {
  /* padding: .35rem 1rem .35rem 1rem;
  text-transform: uppercase;
  font-size: .8rem;
  font-weight: 600;
  letter-spacing: 1px;
  opacity: .5; */
}
